.card {
  background: black;
  box-shadow: rgba(0, 0, 0, .7) 0 1rem 3rem;
  overflow: hidden;

  .image { 
    opacity: .3; 
    transition: all .5s ease; 
  }  
  
  .number {
    top: 0; right: 0;
    position: absolute;

    &::before {
      display: block;
      font-weight: 800;
      color: white;
    }
  }  

  .header {
    position: absolute;
    bottom: 0; width: 100%;
  }  

  .main-header {
    font-weight: 800;
    letter-spacing: 0;
    color: white;
    font-variant: small-caps;
  }

  .card-button {
    margin-top: 1em;
    padding: .5em 2em;
  }
}
